@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
  }

.register,
.login {
    background: rgb(23,36,44);
    background: linear-gradient(90deg,
        rgba(23,36,44,1) 40%,
        rgba(58,95,114,1) 100%
        );
}